@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: #646464;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
}
.center {
  width: 1000px;
  margin: 0 auto;
}
header.outer {
  background-color: #F7F7F7;
  line-height: 40px;
}
header.outer div {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header.outer div h5 {
  margin-left: 20px;
}
header.outer div h5::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background: url('icon1.jpg') no-repeat;
  margin-left: -10px;
  margin-top: 15px;
}
header.outer div span {
  font-size: 14px;
  font-weight: 100;
}
header.outer div span a,
header.outer div span a:visited {
  color: #999;
}
header.outer div span a:first-child,
header.outer div span a:visited:first-child {
  margin-left: 10px;
}
header.outer div span a:last-child,
header.outer div span a:visited:last-child {
  margin-right: 30px;
}
header.outer section {
  height: 85px;
  background-color: #1D7AD9;
}
header.outer section div {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  height: inherit;
  line-height: 85px;
  justify-content: flex-end;
  background: url('logo.jpg') no-repeat left center;
}
header.outer section div form {
  margin-right: 70px;
}
header.outer section div form input {
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
}
header.outer section div form button {
  border: none;
  outline: none;
  height: 30px;
  width: 80px;
  background-color: #FF8C01;
  color: white;
  margin-left: -5px;
  vertical-align: middle;
}
header.outer section div aside {
  display: flex;
  align-items: center;
}
header.outer section div aside a,
header.outer section div aside a:visited {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-color: #FF8C01;
}
header.outer section div aside a:first-child,
header.outer section div aside a:visited:first-child {
  padding: 0 20px 0 40px;
  color: #2f2f68;
  border-right: 1px solid #E27900;
  font-size: 14px;
  background: #ff8c01 url('icon2.jpg') no-repeat 8px center;
}
header.outer section div aside a:last-child,
header.outer section div aside a:visited:last-child {
  padding: 0 30px 0 20px;
  color: white;
  border-left: 1px solid #FF9E02;
  margin-left: -5px;
  background: #ff8c01 url('icon3.jpg') no-repeat 40px center;
}
header.outer nav {
  background-color: #1369C0;
}
header.outer nav div {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
header.outer nav div a,
header.outer nav div a:visited {
  padding: 2px 30px;
  color: white;
  text-decoration: none;
}
header.outer nav div a:first-child,
header.outer nav div a:visited:first-child {
  background: url('icon4.jpg') no-repeat right center;
  padding-right: 20px;
}
header.outer nav div a:hover,
header.outer nav div a:visited:hover {
  background: #92c2f3 none;
}
footer.outer {
  text-align: center;
  background-color: #D4D4D4;
  padding: 60px 0;
  margin-top: 40px;
}
footer.outer div {
  width: 1000px;
  margin: 0 auto;
  font-size: 13px;
}
footer.outer div p {
  margin: 10px;
}
footer.outer div p a,
footer.outer div p a:visited {
  color: black;
  border-right: 1px solid #999;
  padding: 0 10px;
}
footer.outer div aside {
  margin-top: 40px;
}
footer.outer div aside img:not(:last-child) {
  margin-right: 30px;
}
