.center {
  width: 1000px;
  margin: 0 auto;
}
main {
  width: 1000px;
  margin: 0 auto;
}
main div.top {
  display: flex;
}
main div.top section {
  flex: 1;
  border: 1px solid #4693FB;
  background-color: #4693FB;
  line-height: 1.7;
  cursor: default;
  position: relative;
}
main div.top section nav {
  border-top: 1px solid #57A3F9;
  border-bottom: 1px solid #3587F5;
  color: #F8FCFD;
  padding: 8px 0 8px 10px;
  font-size: 13px;
}
main div.top section nav:first-child {
  border-top: none;
}
main div.top section nav:last-child {
  border-bottom: none;
}
main div.top section nav div {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 600px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: white;
}
main div.top section nav div dl:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}
main div.top section nav div dl dt {
  float: left;
  width: 70px;
}
main div.top section nav div dl dd {
  overflow: hidden;
}
main div.top section nav div dl dd a,
main div.top section nav div dl dd a:visited {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
}
main div.top section nav div aside {
  margin-top: 15px;
}
main div.top section nav div aside a,
main div.top section nav div aside a:visited {
  display: inline-block;
  background-color: #4693FB;
  color: white;
  margin-right: 15px;
  padding: 2px 20px 2px 5px;
  position: relative;
}
main div.top section nav div aside a::after,
main div.top section nav div aside a:visited::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  top: 7px;
  right: 3px;
  border-left-color: white;
}
main div.top section nav > a,
main div.top section nav > a:visited {
  display: inline-block;
  background-color: #066BBB;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 1px 3px;
  margin-left: 20px;
}
main div.top section nav aside {
  color: #B4D9F4;
  font-size: 12px;
  position: relative;
}
main div.top section nav aside::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 3px solid transparent;
  top: 0;
  right: 10px;
  border-left-color: #ccc;
}
main div.top section nav:hover {
  background-color: white;
  color: black;
}
main div.top section nav:hover aside {
  color: black;
  position: relative;
}
main div.top section nav:hover aside::after {
  border-left-color: white;
}
main div.top section nav:hover aside::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 60px;
  right: -2px;
  top: -31px;
  background-color: white;
  z-index: 10;
}
main div.top section nav:hover div {
  display: block;
}
main div.top aside {
  flex: 4;
}
main div.top aside img {
  width: 100%;
  vertical-align: top;
}
main div.middle h2,
main div.bottom h2 {
  line-height: 44px;
  margin: 20px 10px 10px 0;
  padding-left: 55px;
  background: url('icon5.jpg') no-repeat left center;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
main div.middle h2 a,
main div.bottom h2 a,
main div.middle h2 a:visited,
main div.bottom h2 a:visited {
  font-size: 12px;
  font-family: 'simsun';
  color: #555;
  padding-top: 10px;
}
main div.middle section,
main div.bottom section {
  display: flex;
}
main div.middle section aside,
main div.bottom section aside {
  width: 191px;
}
main div.middle section aside img,
main div.bottom section aside img {
  width: 100%;
}
main div.middle section article,
main div.bottom section article {
  flex: 1;
}
main div.middle section article div.up,
main div.bottom section article div.up {
  display: flex;
}
main div.middle section article div.up a,
main div.bottom section article div.up a,
main div.middle section article div.up a:visited,
main div.bottom section article div.up a:visited {
  flex: 1;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
main div.middle section article div.up a:hover,
main div.bottom section article div.up a:hover,
main div.middle section article div.up a:visited:hover,
main div.bottom section article div.up a:visited:hover {
  text-decoration: none;
}
main div.middle section article div.up a div,
main div.bottom section article div.up a div,
main div.middle section article div.up a:visited div,
main div.bottom section article div.up a:visited div {
  text-align: center;
}
main div.middle section article div.up a div h4,
main div.bottom section article div.up a div h4,
main div.middle section article div.up a:visited div h4,
main div.bottom section article div.up a:visited div h4 {
  margin: 10px 0;
  color: #555;
}
main div.middle section article div.up a div p,
main div.bottom section article div.up a div p,
main div.middle section article div.up a:visited div p,
main div.bottom section article div.up a:visited div p {
  font-size: 14px;
  color: #ff7300;
}
main div.middle section article div.down,
main div.bottom section article div.down {
  display: flex;
  border-bottom: 3px solid #FF7302;
}
main div.middle section article div.down a,
main div.bottom section article div.down a,
main div.middle section article div.down a:visited,
main div.bottom section article div.down a:visited {
  flex: 1;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
main div.middle section article div.down a:hover,
main div.bottom section article div.down a:hover,
main div.middle section article div.down a:visited:hover,
main div.bottom section article div.down a:visited:hover {
  text-decoration: none;
}
main div.middle section article div.down a div.img,
main div.bottom section article div.down a div.img,
main div.middle section article div.down a:visited div.img,
main div.bottom section article div.down a:visited div.img {
  padding: 10px 5px;
  width: 60px;
  box-sizing: border-box;
}
main div.middle section article div.down a div.img img,
main div.bottom section article div.down a div.img img,
main div.middle section article div.down a:visited div.img img,
main div.bottom section article div.down a:visited div.img img {
  width: 100%;
}
main div.middle section article div.down a div.text,
main div.bottom section article div.down a div.text,
main div.middle section article div.down a:visited div.text,
main div.bottom section article div.down a:visited div.text {
  flex: 1;
  overflow: hidden;
  padding: 5px;
  line-height: 1.6;
}
main div.middle section article div.down a div.text h5,
main div.bottom section article div.down a div.text h5,
main div.middle section article div.down a:visited div.text h5,
main div.bottom section article div.down a:visited div.text h5 {
  font-size: 13px;
}
main div.middle section article div.down a div.text p,
main div.bottom section article div.down a div.text p,
main div.middle section article div.down a:visited div.text p,
main div.bottom section article div.down a:visited div.text p {
  font-size: 12px;
  color: red;
}
main div.bottom div.down a {
  padding: 5px 0;
}
