@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #646464;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
}
header {
  background-color: #1D7AD9;
}
header div {
  width: 1000px;
  margin: 0 auto;
  font-size: 30px;
  color: #F5FEFD;
  font-family: '黑体';
  padding: 10px 0  0 200px;
  box-sizing: border-box;
  height: 85px;
  line-height: 85px;
  background: url('logo.jpg') no-repeat left center;
}
main.one {
  width: 400px;
  margin: 10px auto;
}
main.one form {
  border: 1px solid #ccc;
  padding: 30px 50px;
  font-family: 'simsun';
  font-size: 13px;
  line-height: 1.2;
}
main.one form > label {
  color: #9B9B9B;
  display: block;
  margin-bottom: 20px;
}
main.one form > label input.input {
  height: 28px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
}
main.one form > label:first-child input {
  background: url('icon14.jpg') no-repeat right center;
}
main.one form > label:nth-child(2) input {
  background: url('icon15.jpg') no-repeat right center;
}
main.one form > label label {
  color: #333;
}
main.one form > label label input {
  vertical-align: top;
}
main.one form > label a {
  color: #2b2bdf;
}
main.one form > label button {
  width: 100%;
  height: 36px;
  border: 1px solid #CDE4F6;
  outline: none;
  letter-spacing: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #fafafc, #d0ced3);
}
main.one form > label p {
  margin-top: -5px;
}
main.one form > label p a {
  font-size: 12px ;
  color: #333;
  border-right: 1px solid #333;
  padding-right: 10px;
}
main.one form > label p a:last-child {
  border-right: none;
}
main.one form > label p a:last-child span {
  display: inline-block;
  transform: rotateX(180deg) translateY(5px);
  font-size: 30px;
}
main.one > a {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 250px;
  background-color: #7DBE56;
  color: white;
}
main.two {
  width: 600px;
  margin: 20px auto;
}
main.two form {
  border: 1px solid #ccc;
  padding: 40px 60px;
  color: #999;
  font-family: 'simsun';
  text-align: center;
}
main.two form > label {
  display: block;
  line-height: 50px;
}
main.two form > label span {
  display: inline-block;
  width: 110px;
  text-align: right;
}
main.two form > label span::before {
  position: absolute;
  content: '*';
  color: red;
  margin-left: -10px;
}
main.two form > label input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  outline: none;
}
main.two form p {
  margin: 30px 0 30px 130px;
  font-size: 13px;
  color: black;
}
main.two form p label {
  display: flex;
  align-items: center;
}
main.two form button {
  background-image: linear-gradient(180deg, #f0f0f0, #d0d0d0);
  width: 80%;
  height: 36px;
  border: none;
  outline: none;
  letter-spacing: 50px;
  padding-left: 50px;
  box-sizing: border-box;
}
