a,
a:visited {
  text-decoration: none;
  font-family: 'simsun';
  font-size: 14px;
  color: #666;
}
body {
  background-color: #F0F0F0;
}
main {
  width: 1000px;
  margin: 20px auto 0;
}
main div.part1 {
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
}
main div.part1 a,
main div.part1 a:visited {
  font-size: 13px;
}
main div.part1 a.blod,
main div.part1 a:visited.blod {
  font-weight: bold;
}
main div.part2 {
  display: flex;
  background-color: white;
}
main div.part2 aside {
  flex: 1;
  border: 1px solid #ccc;
}
main div.part2 aside div.big {
  width: 200px;
  margin: 30px auto;
  height: 300px;
  overflow: hidden;
}
main div.part2 aside div.big img {
  display: block;
  width: 100%;
  height: 100%;
}
main div.part2 aside div.small {
  margin: 0 10px;
  display: flex;
}
main div.part2 aside div.small a,
main div.part2 aside div.small a:visited {
  flex: 1;
}
main div.part2 aside div.small a img,
main div.part2 aside div.small a:visited img {
  width: 100%;
  height: 60px;
}
main div.part2 aside div.small a:not(:last-child),
main div.part2 aside div.small a:visited:not(:last-child) {
  margin-right: 10px;
}
main div.part2 section {
  flex: 2;
  border: 1px solid #ccc;
  border-left: none;
  padding: 20px 10px 10px;
  font-family: 'simsun';
}
main div.part2 section h4 {
  color: #2F2F2F;
  line-height: 1.5;
  margin-left: 20px;
}
main div.part2 section p {
  margin: 10px;
  font-size: 13px;
  color: #686868;
}
main div.part2 section p span {
  font-size: 25px;
  color: #D60000;
  font-weight: bold;
}
main div.part2 section p.p2 {
  display: flex;
  align-items: center;
}
main div.part2 section p.p2 i {
  display: inline-block;
  width: 56px;
  height: 20px;
  line-height: 20px;
  margin-left: 30px;
  background: url('icon10.jpg') no-repeat;
}
main div.part2 section div.order {
  padding: 15px 0 15px 10px;
  background-color: #F2F2F2;
}
main div.part2 section div.order dl {
  line-height: 2;
  display: flex;
  align-items: center;
  color: #646464;
  font-size: 12px;
  margin-bottom: 15px;
}
main div.part2 section div.order dl dt {
  width: 60px;
}
main div.part2 section div.order dl select {
  border: 1px solid #C0C0C0;
  outline: none;
  height: 26px;
}
main div.part2 section div.order dl span {
  padding: 5px 15px;
  border: 1px solid #C0C0C0;
  margin-right: 10px;
}
main div.part2 section div.order dl span.active {
  border-color: #337EE4;
  background-color: white;
}
main div.part2 section div.order dl span.add {
  padding: 5px 2px;
  background-color: white;
  margin-right: 0;
}
main div.part2 section div.order dl span.number {
  border-left: none;
  border-right: none;
  margin-right: 0;
}
main div.part2 section p.selected {
  font-weight: bold;
}
main div.part2 section p.selected span {
  color: #0978C0;
  font-size: 13px;
}
main div.part2 section article {
  margin: 10px 60px;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}
main div.part2 section article::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #E6E6E6;
  top: 0;
}
main div.part2 section article button {
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  background: #ff8901 url('icon11.jpg') no-repeat 20px center;
}
main div.part2 section article p.notice {
  color: #999;
  font-size: 13px;
}
main div.part3 {
  margin-top: 20px;
  display: flex;
}
main div.part3 aside {
  flex: 1;
}
main div.part3 aside div.top {
  border: 1px solid #ccc;
  border-top: 2px solid #1F85D0;
  margin-right: 20px;
  background-color: white;
}
main div.part3 aside div.top h4 {
  line-height: 40px;
  text-align: center;
  background-color: #F3F3F3;
  border-bottom: 1px solid #ccc;
}
main div.part3 aside div.top dl {
  margin: 15px 15px 30px 20px;
}
main div.part3 aside div.top dl a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.part3 aside div.top dl dd {
  margin-top: 10px;
}
main div.part3 aside div.top dl dd h6 {
  color: #555;
  text-align: justify;
}
main div.part3 aside div.top dl dd p {
  color: red;
}
main div.part3 aside div.top.bottom {
  margin-top: 15px;
}
main div.part3 aside div.top.bottom h4 {
  text-align: left;
  padding-left: 15px;
}
main div.part3 section {
  flex: 4;
}
main div.part3 section div.top {
  border: 1px solid #ccc;
  position: relative;
}
main div.part3 section div.top > input,
main div.part3 section div.top > span {
  position: absolute;
  width: 33.3%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #EFEFEF;
  box-sizing: border-box;
}
main div.part3 section div.top > span {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}
main div.part3 section div.top > .common {
  left: 33.3%;
}
main div.part3 section div.top > .zx {
  left: 66.6%;
}
main div.part3 section div.top > input {
  z-index: 10;
  opacity: 0;
}
main div.part3 section div.top > input:checked + span {
  background-color: #0479C9;
  color: white;
}
main div.part3 section div.top > input:checked.introduce ~ article.introduce_con {
  display: block;
}
main div.part3 section div.top > input:checked.common ~ article.common_con {
  display: block;
}
main div.part3 section div.top > input:checked.zx ~ article.zx_con {
  display: block;
}
main div.part3 section div.top article {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  box-sizing: border-box;
  background-color: white;
  font-family: 'simsun';
  border: 1px solid #ccc;
}
main div.part3 section div.top article.introduce_con {
  padding: 15px;
}
main div.part3 section div.top article.introduce_con div.img {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.part3 section div.top article.introduce_con h4 {
  padding-bottom: 6px;
  border-bottom: 2px solid #999;
  color: #225CB0;
  font-size: 18px;
  font-weight: normal;
}
main div.part3 section div.top article.introduce_con h4 span {
  margin-left: 20px;
  color: #999;
  font-size: 13px;
}
main div.part3 section div.top article.introduce_con h4::before {
  position: absolute;
  content: '';
  width: 10%;
  height: 2px;
  background-color: #225CB0;
  margin-top: 30px;
}
main div.part3 section div.top article.introduce_con p {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  text-indent: 2em;
  text-align: justify;
  margin: 8px 0 30px;
}
main div.part3 section div.top article.common_con h4 {
  margin: 15px 0 40px 20px;
  color: #676767;
}
main div.part3 section div.top article.common_con div.up {
  display: flex;
}
main div.part3 section div.top article.common_con div.up div.num {
  font-size: 40px;
  color: #FF8E02;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 10px;
}
main div.part3 section div.top article.common_con div.up div.num span {
  font-size: 16px;
  color: #999;
}
main div.part3 section div.top article.common_con div.up div.pj {
  margin-bottom: 50px;
}
main div.part3 section div.top article.common_con div.up div.pj ul {
  display: flex;
  position: relative;
  font-family: 'simsun';
}
main div.part3 section div.top article.common_con div.up div.pj ul li {
  padding: 2px 30px;
  font-size: 12px;
  color: white;
  background-color: #BDBDBD;
}
main div.part3 section div.top article.common_con div.up div.pj ul::after {
  position: absolute;
  content: attr(data-num);
  background-color: #7F7F7F;
  padding: 2px 3px;
  color: white;
  top: -28px;
  left: calc(4.7 / 5 * 100%);
}
main div.part3 section div.top article.common_con div.up div.pj ul::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #7F7F7F;
  top: -7px;
  left: calc(4.7 / 5 * 100% + 9px);
  z-index: 10;
}
main div.part3 section div.top article.common_con div.up div.pj p {
  color: #66647C;
  font-size: 12px;
  margin-top: 6px;
}
main div.part3 section div.top article.common_con div.middle {
  background-color: white;
}
main div.part3 section div.top article.common_con div.middle ul {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-around;
  line-height: 36px;
  font-size: 13px;
  color: black;
}
main div.part3 section div.top article.common_con div.middle ul li.mr {
  margin-right: 200px;
}
main div.part3 section div.top article.common_con div.middle ul li.active {
  font-weight: bold;
  color: #272742;
  border-bottom: 2px solid #272742;
}
main div.part3 section div.top article.common_con div.middle ul li.border {
  border: 1px solid #C9C9C9;
  border-bottom: none;
  height: 26px;
  line-height: 26px;
  margin-top: 5px;
  padding: 0 20px 0 10px;
  background: url('icon12.jpg') no-repeat 70px center;
}
main div.part3 section div.top article.common_con div.down dl {
  display: flex;
  margin: 15px 0 30px;
  line-height: 2;
}
main div.part3 section div.top article.common_con div.down dl dt {
  flex: 1;
  text-align: center;
}
main div.part3 section div.top article.common_con div.down dl dt p {
  font-size: 13px;
  color: #999;
}
main div.part3 section div.top article.common_con div.down dl dd {
  flex: 5;
}
main div.part3 section div.top article.common_con div.down dl dd p.one {
  font-weight: bold;
  color: black;
  font-size: 13px;
}
main div.part3 section div.top article.common_con div.down dl dd p.one img {
  margin-right: 10px;
}
main div.part3 section div.top article.common_con div.down dl dd p.one span {
  margin-left: 400px;
  color: #bbb;
  font-size: 12px;
}
main div.part3 section div.top article.common_con div.down dl dd p.two {
  color: #999;
  font-size: 14px;
}
main div.part3 section div.top article.common_con div.down dl dd p.three a {
  color: #0E5D96;
  font-size: 12px;
}
main div.part3 section div.top article.common_con div.page {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px 40px 0;
}
main div.part3 section div.top article.common_con div.page a {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  color: #999;
}
main div.part3 section div.top article.common_con div.page a.active {
  background-color: #555;
  color: red;
}
main div.part3 section div.top article.zx_con {
  padding-top: 30px;
}
main div.part3 section div.top article.zx_con div.one {
  display: flex;
}
main div.part3 section div.top article.zx_con div.one span {
  padding: 5px 10px;
  font-size: 14px;
}
main div.part3 section div.top article.zx_con div.one span:first-child {
  flex: 1;
  border-left: 1px solid #181846;
  border-top: 1px solid #181846;
}
main div.part3 section div.top article.zx_con div.one span:last-child {
  flex: 6;
  border-left: 1px solid #181846;
  border-bottom: 1px solid #181846;
  text-align: right;
}
main div.part3 section div.top article.zx_con div.two {
  margin: 10px 20px 30px 20px;
  background-color: #eee;
  padding: 10px;
  font-size: 13px ;
  line-height: 2;
  color: #666;
}
main div.part3 section div.top article.zx_con div.three dl {
  display: flex;
  line-height: 2;
  margin-bottom: 30px;
  font-size: 13px;
  color: #797979;
}
main div.part3 section div.top article.zx_con div.three dl dt {
  flex: 1;
  text-align: center;
}
main div.part3 section div.top article.zx_con div.three dl dt img {
  width: 30%;
}
main div.part3 section div.top article.zx_con div.three dl dd {
  flex: 4;
}
main div.part3 section div.top article.zx_con div.three dl dd p.one {
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: 600;
  margin-right: 50px;
}
main div.part3 section div.top article.zx_con div.three dl dd p.one span {
  color: #ccc;
}
main div.part3 section div.top article.zx_con div.three dl dd p.three {
  margin: 20px 50px 0 0;
  padding: 20px;
  background-color: #eee;
}
main div.part3 section div.top article.zx_con div.page {
  margin: 30px 50px 30px 200px;
}
main div.part3 section div.top article.zx_con div.page a {
  padding: 3px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  text-decoration: none;
}
main div.part3 section div.top article.zx_con div.page a.active {
  background-color: red;
  color: white;
}
