main {
  width: 1000px;
  margin: 20px auto 0;
  display: flex;
}
main aside {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #F3F3F3;
  line-height: 2;
  margin-right: 5px;
}
main aside h4 {
  line-height: 2.5;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
main aside dl {
  padding: 15px 0 15px 20px;
  font-family: 'simsun';
}
main aside dl:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}
main aside dl dt {
  font-weight: bold;
  font-size: 15px;
}
main aside dl dd a {
  font-size: 14px;
  display: inline-block;
  width: 45%;
}
main section {
  flex: 4;
  font-family: 'simsun';
}
main section div.img img {
  width: 100%;
}
main section div.middle h4,
main section div.bottom h4 {
  margin: 10px;
  padding: 0 0 8px 10px;
  border-bottom: 2px solid #CDCDCD;
  position: relative;
}
main section div.middle h4::before,
main section div.bottom h4::before {
  position: absolute;
  content: '';
  width: 20%;
  height: 2px;
  background-color: #086DBB;
  left: 0;
  top: 26px;
}
main section div.middle article,
main section div.bottom article {
  display: flex;
  flex-wrap: wrap;
}
main section div.middle article figure,
main section div.bottom article figure {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
main section div.middle article figure div.photo,
main section div.bottom article figure div.photo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section div.middle article figure div.photo img,
main section div.bottom article figure div.photo img {
  width: 70%;
}
main section div.middle article figure figcaption,
main section div.bottom article figure figcaption {
  line-height: 1.5;
  margin: 20px 0 30px ;
}
main section div.middle article figure figcaption a,
main section div.bottom article figure figcaption a,
main section div.middle article figure figcaption a:visited,
main section div.bottom article figure figcaption a:visited {
  display: block;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
main section div.middle article figure figcaption p.price,
main section div.bottom article figure figcaption p.price {
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
main section div.middle article figure figcaption p.pl,
main section div.bottom article figure figcaption p.pl {
  font-size: 12px;
  display: flex;
  color: #666;
}
main section div.middle article figure figcaption p.pl i,
main section div.bottom article figure figcaption p.pl i {
  width: 13px;
  background: url('icon6.jpg') no-repeat center center;
}
main section div.bottom h4 {
  margin-bottom: 30px;
}
main section div.bottom figcaption {
  padding-top: 20px;
}
