header .st1 {
  background-color: #001644;
  margin-bottom: 0px;
  border: none;
}
header .st2 {
  top: -20px;
  height: 157px;
  background: url('../images/img1.jpg') no-repeat center center;
}
header .st2 .st3 {
  height: 110px;
}
header .st2 .st3 .st4 {
  line-height: 108px;
  background: url('../images/img3.png') no-repeat right center;
}
header .st2 .st5 {
  height: 47px;
  background-color: rgba(3, 43, 131, 0.3) !important;
  position: relative;
}
header .st2 .st5 > div {
  display: flex;
}
header .st2 .st5 > div dl {
  flex: 1;
}
header .st2 .st5 > div dl:hover dd {
  display: block;
}
header .st2 .st5 > div dl dt {
  line-height: 47px;
  font-size: 15px;
  color: white;
  text-align: center;
}
header .st2 .st5 > div dl dt:hover {
  background-color: #5e90be;
  cursor: pointer;
}
header .st2 .st5 > div dl dd {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 47px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
header .st2 .st5 > div dl dd a {
  display: block;
  line-height: 2.5;
  color: black;
}
footer {
  background: url('../images/img2.jpg') no-repeat center center;
  height: 240px;
  box-sizing: border-box;
}
footer div.container {
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .st5 p:last-child {
  margin-top: 20px;
}
footer .st5 p:last-child a {
  display: block;
  color: white;
  line-height: 1.8;
}
footer .st5 p:last-child a:first-child {
  background: url('../images/img5.png') no-repeat left center;
  padding-left: 30px;
}
footer .st6 {
  color: white;
  line-height: 2.2;
}
footer .st6 p:first-child {
  border-bottom: 1px solid white;
}
footer .st6 p:first-child::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: white;
  margin-top: 30px;
}
footer .st6 a {
  display: block;
  color: white;
}
footer > p {
  text-align: center;
  background-color: #041438;
  line-height: 40px;
  color: #999;
}
